/* Styling for the entire webpage */

body {
    /* Light pink background for body */
    background-color: #ffd9eb;
    /* Pink text color */
    color: #ff33cc;
    /* Girly font */
    font-family: 'Lobster', cursive;
    /* Center all text */
    text-align: center;
  }
  
  /* Styling for the navigation links on hover */
  nav a:hover {
    color: #ff0080; /* Darker pink on hover */
  }
  
  /* Styling for the header section */
  
  header {
    /* Medium pink header background */
    background-color: #ff99cc;
    padding: 10px;
  }
  
  /* Styling for the navigation menu */
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav a {
    /* Pink link color */
    color: #ff33cc;
    /* Remove underline from links */
    text-decoration: none;
  }
  
  /* Styling for the main content section */
  
  main {
    padding: 20px;
  }
  
  /* Styling for the main heading (h1) */
  
  h1 {
    /* Dark pink heading color */
    color: #ff0080;
    /* Font family for system fonts with a fallback */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Larger font size */
    font-size: xx-large;
  }
  
  /* Styling for secondary headings (h2) */
  
  h2 {
    /* Pink heading color */
    color: #ff33cc;
    /* Girly font for headings */
    font-family: 'Pacifico', cursive;
    /* Bigger font size */
    font-size: 2em;
  }
  
  /* Styling for figure and image */
  
  figure {
    text-align: center;
  }
  
  figure img {
    /* Make images responsive and rounded */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Styling for sections */
  
  section {
    /* Lighter pink background for sections */
    background-color: #ffc2e0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  /* Styling for forms */
  
  form {
    /* Center form text */
    text-align: center;
  }
  
  label {
    /* Pink label color */
    color: #ff33cc;
    /* Girly font for labels */
    font-family: 'Lobster', cursive;
    /* Bigger font size */
    font-size: 1.2em;
  }
  
  input {
    /* Full width text input with styling */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff33cc;
    border-radius: 5px;
    /* Bigger font*/
  }
  textarea {
    /* Full width and height textarea with styling */
    width: 100%;
    height: 100px; /* Adjust the height as needed */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff33cc;
    border-radius: 5px;
    /* Bigger font size */
    font-size: 1em;
  }

  figcaption.text-center {
    /* Larger font size for figcaption */
    font-size: xx-large;
    /* Top and bottom margin adjustments for spacing */
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
  }
